body {
    font-family: Arial, sans-serif;
    background-image:url("https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
    background-size:cover;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #f8f8f8;
    width:98%;
    padding: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    height: 40px;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    /* font-weight: bold; */
    color: #333;
  }

  nav ul li a:hover{
    color:#ff6600;
  }
  
  .search-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
  }
  
  .search-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    width: 100%;
    background-color: #ff6600;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #ff5500;
  }
  
  #candidates-list {
    margin-top: 20px;
  }
  
  .candidate {
    margin-bottom: 10px;
    padding: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 4px;
  }

  .candidate img{
    width:50px;
    height:50px
  }
  
  .candidate h3,
  .candidate p {
    margin: 0;
  }
  
  .candidate .location {
    font-style: italic;
  }
  
  .candidate .job-role {
    font-weight: bold;
  }
  